html, body, button, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: Helvetica, sans-serif;
}

body.pro {
  background-color: #828282;
}

body.joy.right {
  background-color: #FF3C28;
}

body.joy.left {
  background-color: #0AB9E6;
}

.pro button {
  background-color: #111;
}

.joy.left button {
  background-color: #001E1E;
}

.joy.right button {
  background-color: #1E0A0A;
}

.display {
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 36vh;
  height: 5vh;
  line-height: 2vh;
  border-radius: 1vh;
  border: 2px solid #111;
  background-color: #eee;
  color: #222;
  padding: 2vh;
  font-size: 2vh;
  font-family: monospace;
  overflow: hidden;
  display: none;
}

.pro .shared {
  display: none;
}

.joy.left .right {
  display: none;
}

.joy.right .left {
  display: none;
}

button {
  position: fixed;
  font-size: 6vh;
  cursor: pointer;
  outline: none;
}

.top, .shared {
  width: 20vh;
  height: 9vh;
  border-radius: 2vh;
}

button.top, button.shared {
  color: #666;
}

.top.left, .shared.sl {
  left: 1vw;
}

.joy.left .top.left.zl, .joy.right .top.right.zr {
  bottom: 1vh;  
}

.joy.left .top.left.l, .joy.right .top.right.r {
  bottom: 11vh;  
}

.top.right, .shared.sr{
  right: 1vw;
}

.pro .top#zl, .pro .top#zr, .shared {
  top: 1vh;
}

.pro .top#l, .pro .top#r {
  top: 11vh;
}

.stick {
  position: fixed;
}

.pro .stick.left {
  top: 39vh;
  left: 21vw;
}

.joy .stick {
  top: 50vh;
  left: 25vw;
}

.stick button.head {
  width: 20vh;
  height: 20vh;
  border-radius: 10vh;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: move;
}

.pro .stick.left .head {
  transform: translate(-50%, -50%);
}

.joy.left  .stick.left .head{
  transform: translate(-50%, -50%) rotate(-90deg);
}

.pro .stick.right {
  bottom: 25vh;
  right: 35vw;
}

.pro .stick.right .head {
  transform: translate(-50%, -50%);
}

.joy.right .stick.right .head{
  transform: translate(-50%, -50%) rotate(90deg);
}

.option {
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
}

.pro .option.plus, .pro .option.minus {
  top: 25vh;
}

.option.plus, .option.minus {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pro .option.minus {
  left: 40vw;
  transform: translate(-50%, -50%);
}

.option.minus {
  background-image: url("../assets/minus-icon.svg");
}

.joy.left .option.minus {
  top: 25vh;
  left: 7vw;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.pro .option.plus {
  right: 40vw;
  transform: translate(50%, -50%);
}

.joy.right .option.plus {
  top: 25vh;
  right: 7vw;
  transform: translate(50%, -50%) rotate(90deg);
}

.option.plus {
  background-image: url("../assets/plus-icon.svg");
}

.pro .option.home, .pro .option.capture {
  top: 40vh;
}

.joy.left .option.capture {
  top: 25vh;
  right: 7vw;
  transform: translate(50%, -50%) rotate(-90deg);
}

.option.home, .option.capture {
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pro .option.capture {
  left: 45vw;
  transform: translate(-50%, -50%);
}

.option.capture {
  width: 9vh;
  height: 9vh;
  border-radius: 2vh;
  background-image: url("../assets/capture-icon.svg");
}

.pro .option.home {
  right: 45vw;
  transform: translate(50%, -50%);
}

.joy.right .option.home {
  top: 25vh;
  left: 7vw;
  transform: translate(-50%, -50%) rotate(90deg);
}

.option.home {
  background-image: url("../assets/home-icon.svg");
}

.directions, .letters {
  width: 0;
  height: 0;
  position: fixed;
}

.pro .directions {
  bottom: 25vh;
  left: 34vw;
}

.joy.left .directions {
  right: 30vw;
  top: 50vh;
}

.pro .letters {
  top: 40vh;
  right: 21vw;
}

.joy.right .letters {
  top: 50vh;
  right: 30vw;
}

.directions button, .letters button {
  position: absolute;
  color: #ccc;
}

.directions button {
  background-image: url("../assets/arrow-icon.svg");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pro .directions button {
  width: 15vh;
  height: 15vh;
  border-radius: 4vh;
}

.letters button, .joy.left .directions button {
  width: 16vh;
  height: 16vh;
  border-radius: 8vh;
}

.pro .n, .joy.left .e {
  bottom: 15vh;
  transform: translate(-50%, 50%);
}

.joy.right .w {
  bottom: 15vh;
  transform: translate(-50%, 50%) rotate(90deg);
}

.pro .e, .joy.left .s {
  left: 15vh;
  transform: translate(-50%, -50%);
}

.joy.right .n {
  left: 15vh;
  transform: translate(-50%, -50%) rotate(90deg);
}

.pro .directions .e, .joy.left .directions .s {
  transform: translate(-50%, -50%) rotate(90deg);
}

.pro .s, .joy.left .w {
  top: 15vh;
  transform: translate(-50%, -50%);
}

.joy.right .e {
  top: 15vh;
  transform: translate(-50%, -50%) rotate(90deg);
}

.pro .directions .s, .joy.left .directions .w {
  transform: translate(-50%, -50%) rotate(180deg);
}

.pro .w, .joy.left .n {
  right: 15vh;
  transform: translate(50%, -50%);
}

.joy.right .s {
  right: 15vh;
  transform: translate(50%, -50%) rotate(90deg);
}

.pro .directions .w, .joy.left .directions .n {
  transform: translate(50%, -50%) rotate(-90deg);
}
