html, body, button, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button span {
  visibility: hidden;
  position: absolute;
  min-width: 1em;
  width: auto;
  white-space: nowrap;
  font-size: .4em;
  bottom: .3em;
  left: .3em;
  background: #eeec;
  border: 2px solid #cccc;
  border-radius: .3em;
  padding: .2em;
  color: #333;
}

.help button span {
  visibility: visible;
}

body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: Helvetica, sans-serif;
}

/* controller differences */
body.pro .side {
  display: none;
}

body.joy.left .right {
  display: none;
}

body.joy.right .left {
  display: none;
}

/* debugging */
.display {
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 36vh;
  height: 5vh;
  line-height: 2vh;
  border-radius: 1vh;
  border: 2px solid #111;
  background-color: #eee;
  color: #222;
  padding: 2vh;
  font-size: 2vh;
  font-family: monospace;
  overflow: hidden;
  display: none;
}

/* color schemes */
body.pro {
  background-color: #828282;
}

body.joy.left {
  background-color: #0AB9E6;
}

body.joy.right {
  background-color: #FF3C28;
}

body.pro button, ul.lights {
  background-color: #111;
}

body.joy.left button, ul.lights {
  background-color: #001E1E;
}

body.joy.right button, ul.lights {
  background-color: #1E0A0A;
}

div.directions button, div.letters button {
  color: #ccc;
}

/* lights */
ul.lights {
  position: fixed;
  display: flex;
  top: 1vh;
  left: 50%;
  list-style-type: none;
  transform: translateX(-50%);
  z-index: 100;
  white-space: nowrap;
  padding: .25em .5em;
  border-radius: .5em;
}

ul.lights li {
  width: 2vh;
  height: 2vh;
  margin: .5em;
  background: #aaa;
}

ul.lights li.on {
  background: #cafc03;
  box-shadow: 0 0 .4em .2em #cafc03;
}

/* all buttons */
button {
  position: fixed;
  font-size: 6vh;
  cursor: pointer;
  outline: none;
}

/* top and side buttons */
button.top, button.side {
  width: 20vh;
  height: 9vh;
  border-radius: 2vh;
  color: #666;
}

button.top.left {
  left: 1vh;
}

button.top.right{
  right: 1vh;
}

body.joy button {
  font-size: 8vw;
}

button.top.zl, button.top.zr {
  top: 1vh;
}

button.top.l, button.top.r {
  top: 11vh;
}

body.joy.left button.side {
  right: 1vh;
}

body.joy.right button.side {
  left: 1vh;
}

body.joy.left button.sl, body.joy.right button.sl {
  top: 1vh;
}

body.joy.left button.sr, body.joy.right button.sr {
  bottom: 1vh;
}

/* analog sticks */
div.stick {
  position: fixed;
  width: 0;
  height: 0;
}

div.stick.left {
  top: 39vh;
}

div.stick.right {
  bottom: 25vh;
}

body.pro div.stick.left {
  left: 21vw;
}

body.pro div.stick.right {
  right: 35vw;
}

body.joy.left div.stick {
  left: 40vw;
}

body.joy.right div.stick {
  right: 40vw;
}

div.stick button.head {
  position: absolute;
  cursor: move;
  width: 20vh;
  height: 20vh;
  border-radius: 10vh;
  top: 0;
  bottom: 0;
}

div.stick button.head {
  transform: translate(-50%, -50%);
}

body.joy div.stick button.head {
  width: 20vw;
  height: 20vw;
}

/* option buttons */
button.option {
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
}

/* minus and plus buttons*/
button.option.minus, button.option.plus {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
  top: 25vh;
}

button.option.minus {
  background-image: url("../assets/minus-icon.svg");
}

button.option.plus {
  background-image: url("../assets/plus-icon.svg");
}

body.pro button.option.minus {
  left: 40vw;
  transform: translate(-50%, -50%);
}

body.pro button.option.plus {
  right: 40vw;
  transform: translate(50%, -50%);
}

body.joy button.option {
  width: 13vw;
  height: 13vw;
  border-radius: 6.5vw;
}

body.joy button.option.minus {
  right: 10vw;
  transform: translate(50%, -50%);
}

body.joy button.option.plus {
  left: 10vw;
  transform: translate(-50%, -50%);
}

/* capture and home buttons */
button.option.capture, button.option.home {
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

button.option.capture {
  width: 9vh;
  height: 9vh;
  border-radius: 2vh;
  background-image: url("../assets/capture-icon.svg");
}

button.option.home {
  background-image: url("../assets/home-icon.svg");
}

body.pro button.option.capture, body.pro button.option.home {
  top: 40vh;
}

body.pro button.option.capture {
  left: 45vw;
  transform: translate(-50%, -50%);
}

body.pro button.option.home {
  right: 45vw;
  transform: translate(50%, -50%);
}

body.joy button.option.capture, body.joy button.option.home {
  bottom: 25vh;
}

body.joy button.option.capture {
  width: 12vw;
  height: 12vw;
  border-radius: 2vw;
  right: 10vw;
  transform: translate(50%, 50%);
}

body.joy button.option.home {
  left: 10vw;
  transform: translate(-50%, 50%);
}

/* direction and letter button collections */
div.directions, div.letters {
  width: 0;
  height: 0;
  position: fixed;
}

body.pro div.directions {
  bottom: 25vh;
  left: 34vw;
}

body.pro div.letters {
  top: 40vh;
  right: 21vw;
}

body.joy div.directions {
  left: 45vw;
  bottom: 30vh;
}

body.joy div.letters {
  top: 45vh;
  right: 50vw;
}

/* direction and letter buttons */
div.directions button, div.letters button {
  position: absolute;
}

div.directions button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../assets/arrow-icon.svg");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.directions button {
  width: 15vh;
  height: 15vh;
  border-radius: 4vh;
}

.letters button {
  width: 16vh;
  height: 16vh;
  border-radius: 8vh;
}

body.joy .directions button, body.joy .letters button {
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
}

button.n {
  bottom: 15vh;
  transform: translate(-50%, 50%);
}

body.joy button.n {
  bottom: 20vw;
}

button.e {
  left: 15vh;
  transform: translate(-50%, -50%);
}

body.joy button.e {
  left: 20vw;
}

div.directions button.e::before {
  transform: rotate(90deg);
}

button.s {
  top: 15vh;
  transform: translate(-50%, -50%);
}

body.joy button.s {
  top: 20vw;
}

div.directions button.s::before {
  transform: rotate(180deg);
}

button.w {
  right: 15vh;
  transform: translate(50%, -50%);
}

body.joy button.w {
  right: 20vw;
}

div.directions button.w::before {
  transform: rotate(-90deg);
}

@media screen and (min-aspect-ratio: 4/5) {

  body.joy button {
    font-size: 6vh;
  }

  body.joy button.side.sl {
    right: auto;
    left: 1vh;
  }

  body.joy button.side.sr {
    left: auto;
    right: 1vh;
  }

  body.joy button.side {
    top: 1vh;
  }

  body.joy div.stick button.head {
    width: 20vh;
    height: 20vh;
  }

  body.joy button.option {
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
  }

  body.joy button.option.capture {
    width: 9vh;
    height: 9vh;
    border-radius: 2vh;
  }

  body.joy .directions button, body.joy .letters button {
    width: 16vh;
    height: 16vh;
    border-radius: 8vh;
  }

  body.joy button.n {
    bottom: 15vh;
  }

  body.joy button.e {
    left: 15vh;
  }

  body.joy button.s {
    top: 15vh;
  }

  body.joy button.w {
    right: 15vh;
  }
  
  div.joy button.side.sl {
    left: 1vh;
  }

  div.joy button.side.sr {
    right: 1vh;
  }

  body.joy button.side {
    top: 1vh;
  }

  body.joy button.top.zl, body.joy button.top.zr {
    top: auto;
    bottom: 1vh;  
  }

  body.joy button.top.l, body.joy button.top.r {
    top: auto;
    bottom: 11vh;  
  }

  body.joy.left div.stick, body.joy.right div.stick {
    top: 50vh;
    left: 25vw;
  }

  body.joy.left  div.stick.left button.head {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  body.joy.right div.stick.right button.head {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  body.joy.left button.option.minus {
    left: 11vh;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  body.joy.right button.option.plus {
    left: auto;
    right: 11vh;
    transform: translate(50%, -50%) rotate(90deg);
  }

  body.joy button.option.capture, body.joy button.option.home {
    top: 25vh;
  }

  body.joy.left button.option.capture {
    right: 11vh;
    transform: translate(50%, -50%) rotate(-90deg);
  }

  body.joy.right button.option.home {
    left: 11vh;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  body.joy.left div.directions, body.joy.right div.letters {
    left: auto;
    top: auto;
    right: 30vw;
    bottom: 50vh;
  }

  body.joy.left div.directions {
    transform: rotate(-90deg);
  }

  body.joy.right div.letters {
    transform: rotate(90deg);
  }

  body.joy.left div.directions button {
    width: 16vh;
    height: 16vh;
    border-radius: 8vh;
  }

}
